<section id="about" class="about">
    <div class="container">

      <div class="row no-gutters">
        <div class="col-lg-6 video-box">
          <img src="{{ url_for('static', filename='assets/img/about.jpg') }}" class="img-fluid" alt="">
          <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>Sobre nós</h2>
            <p>Somos uma agência com objetivo de criar  soluções em tecnologias, focada e 
              compromissada com resultado dos nossos clientes, desenvolvemos chatbot e assistentes  
              virtuais com inteligência artificial, desenvolvemos aplicativos mobile e sistemas web.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-institution"></i></div>
            <!-- <h4 class="title"><a href="">Lorem Ipsum</a></h4> -->
            <p class="description">Fundada neste ano, viemos trazer serviços e tecnologias sob medida.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-bullseye"></i></i></div>
            <!-- <h4 class="title"><a href="">Nemo Enim</a></h4> -->
            <p class="description">Aplicamos  metodologia  e tecnologia que visa performance, através da criatividade trazer excelentes experiências.
            </p>
          </div>

        </div>
      </div>

    </div>
  </section>