<section class="about-lists">
    <div class="container">

      <div class="row no-gutters">

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
          <span><i class="icofont-tick-mark"></i></span>
          <h4>Planejamento</h4>
          <p>Análise e modelagem de domínio que traz compreensão das necessidade de negócios.</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
          <span><i class="icofont-tick-mark"></i></span>
          <h4>Elaboração</h4>
          <p>Levantamento de requisito para trazer software com funcionalidade, e apoia na geração de valor</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200" >
          <span><i class="icofont-tick-mark"></i></span>
          <h4>Implementação</h4>
          <p>Utilizamos as principais tecnologias e ferramenta do mercado, infraestrutura de alta disponibilidade e escalabilidade.</p>
        </div>

        <!-- <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
          <span>04</span>
          <h4>Repellendus molestiae</h4>
          <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
          <span>05</span>
          <h4>Sapiente Magnam</h4>
          <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
        </div>

        <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
          <span>06</span>
          <h4>Facilis Impedit</h4>
          <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis
            sequi</p>
        </div> -->

      </div>

    </div>
  </section>