<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>IS Code</h3>
            <p>
              R. Prof. Plínio Garcês de Sena - Mussurunga I <br>
              CEP:41301-110<br><br>
              <strong>Telefone:</strong>(71) 99731-1977<br>
              <strong>Email:</strong>contato@iscode.com.br<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/ISCode-110905087102821/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/iscode_oficial/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Quem somos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Serviços</a></li>
            </ul>
          </div> 

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossos serviços</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Chatbots</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Aplicativos mobile</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Sistemas web</a></li>
            </ul>
          </div> 

          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>2020<span> IS</span>Code</strong>. Todos os direitos reservados
      </div>
    </div>
  </footer>