<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Serviços</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="icofont-robot"></i></div>
          <h4 class="title"><a href="">Chatbots</a></h4>
          <p class="description">Desenvolvimento de assistentes virtuais, comunicação de APIs, 
            Integração em base de dados e implementação com bibliotecas de Inteligência Artificial.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="icofont-stock-mobile"></i></div>
          <h4 class="title"><a href="">Aplicativos mobile</a></h4>
          <p class="description">Desenvolvimento de aplicativos multiplataformas, mobilidade e acessibilidade para seu negócio.
             Aplicativos para auxiliar seu produtos ou serviços com tecnologias  modernas.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="icofont-web"></i></i></div>
          <h4 class="title"><a href="">Sistemas Web</a></h4>
          <p class="description">Desenvolvimento de e-commerce ,landing page,sites e blogs adaptável a qualquer formato de tela.</p>
        </div>
        <!-- <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="icofont-image"></i></div>
          <h4 class="title"><a href="">Magni Dolores</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="icofont-settings"></i></div>
          <h4 class="title"><a href="">Nemo Enim</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
          <div class="icon"><i class="icofont-tasks-alt"></i></div>
          <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
            soluta nobis est eligendi</p>
        </div> -->
      </div>

    </div>
  </section>